* { padding: 5px;}

body {
    font-family: "Courier New", Courier, monospace;
    display: flex;
    flex-direction: column;
    color: whitesmoke;
    background: rgb(71,71,71);
    background: linear-gradient(180deg, rgba(71,71,71,1) 0%, rgba(117,117,117,1) 35%, rgba(71,71,71,1) 100%);
}

.header, .player, .scores, .round-winner, .scorecard {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.winner {
    font-size: larger;
}

.player {
    padding-top: 3em;
    padding: 5px;
    margin: 20px;
}

.scores {
    padding-top: 3em;
    flex-direction: row;
    justify-content: space-around;
    font-size: larger;
    align-items: center;
}

.scorecard {
    padding-top: 3em;
}

.roundWinner {
    justify-content: center;
    align-items: center;
    align-content: space-between;

}

.gameButton {
    margin: 20px;
    width: 20%;
    padding: 7px 15px;
    border-radius: 4px;
    background-color: transparent;
    border-color: whitesmoke;
    color: white;
    font-size: large;
    transition: all 0.2s ease;
}

.gameButton:hover {
    cursor: pointer;
    transform: scale(1.02);
    box-shadow: 0 0 8px 1px;
  }

.footer {
    color: beige;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;

}