body {
    font-family: "Courier New", Courier, monospace;
    display: flex;
    flex-direction: column;
    background-image: 
    url(pattern-1.jpg);
    background-size: 100% auto;
    color: white;
}

.header, .player, .scorecard {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.player {
    padding: 8px;
    margin: 20px;
}

.gameButton {
    margin: 20px;
    width: max-content;
    padding: 7px 15px;
    border-radius: 4px;
    font-weight: bold;
    background-color: transparent;
    border-color: whitesmoke;
    color: white;
}