* { border: 2px solid #ff6262; padding: 15px; margin: 15px; }

body {
    font-family: "Courier New", Courier, monospace;
    display: flex;
    flex-direction: column;
   /* background-image: 
    url(pattern-1.jpg);
    background-size: 100% auto; */
    color: white;
    background-color: darkblue;
}

.header, .player, .reset, .round-winner, .scorecard {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.player {
    padding: 8px;
    margin: 50px;
}

.reset {
    flex-direction: row;
    justify-content: space-around;
}



.score-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

.gameButton {
    margin: 20px;
    width: max-content;
    padding: 7px 15px;
    border-radius: 4px;
    font-weight: bold;
    background-color: transparent;
    border-color: whitesmoke;
    color: white;
    font-weight: bold;
    font-size: large;
}